* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.primarybtn {
    padding: 10px 25px;
    background-color: #4CAF4F;
    color: white;
    border-radius: 3px;
    outline: none;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}

.logo {
    display: flex;
    gap: 2px;
}

h3 {
    font-family: sans-serif;
    font-weight: bold;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

ul li a {
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-weight: bold;
}

button {
    padding: 5px 15px;
    text-align: center;
    color: #4CAF4F;
    border: 1px solid #4CAF4F;
    border-radius: 8px;
    font-family: sans-serif;
    font-weight: bold;
    width: fit-content;
}

button:hover {
    background-color: #4CAF4F;
    color: white;
}

.hero {
    display: flex;
    gap: 20px;
    /* margin: 30px; */
    background-color: #F5F7FA;
    padding: 30px;
}

.heroleft {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    padding: 70px;
}

.heroleft h1 {
    font-size: 50px;
}

.heroright {
    width: 40%;
}

span {
    color: #4CAF4F;
}

/* clients section  */
.clients {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.smallicons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.management {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.mngcards {
    display: flex;
    width: 100%;
    justify-content: space-evenly;

}

.mngcards div {
    width: 230px;
    height: 230px;
    /* border: 1px solid; */
    text-align: center;
    padding-top: 30px;
    box-shadow: 0px 0px 5px #ABBED133;
}

/* services section  */
.services {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    margin: 30px;
    /* background-color: #F5F7FA; */
}

.serleft {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    padding: 70px;
}

.serleft h2 {
    font-size: 30px;
}

.serright {
    width: 40%;
}

/* help section  */
.help {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 30px;
    background-color: #F5F7FA;
    padding: 30px;
}

.helpleft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    width: 40%;
    margin-left: 10%;
}

.helpright {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 60px;
    width: 60%;
    justify-content: center;
}

.helpright div {
    display: flex;
    gap: 20px;
}

.helpnum {
    display: flex;
    flex-direction: column;
}

/* customer seciton  */
.customer {
    display: flex;
    gap: 30px;
    padding: 30px;
    background-color: #F5F7FA;
}

.cusimg {
    width: 20%;
    height: 250px;
    /* border: 1px solid; */
}

.cusimg img {
    width: 100%;
    height: 100%;
}

.cusdes {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.customersubchild {
    display: flex;
    gap: 50px;
}

.customersubchild div {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4CAF4F;
}

/* market section */
.market {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 20px;
}

.markettop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.markettop h2 {
    width: 30%;
}

.markettop p {
    width: 55%;
    text-align: center;
}

.markimage {
    width: 250px;
    height: 250px;
    /* border: 1px solid; */
    position: relative;
}

.markimagechild1 {
    width: 250px;
    height: 200px;
}

.markimagechild1 img {
    width: 100%;
    height: 100%;
}

.markimagechild2 {
    background-color: white;
    position: absolute;
    left: 20px;
    bottom: 0;
    width: 200px;
    height: 100px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 3px #F5F7FA;
}

.markimagechild2 p {
    text-align: center;
}

.marketbottom {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    margin: 0px auto;
}

/* demo section  */
.demo {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 15px 0px;
    /* justify-content: center;/ */
    align-items: center;
    background-color: #F5F7FA;
    padding: 20px;
}

.demo h1 {
    font-size: 50px;
    text-align: center;
}

/* footer section  */
.footer {
    background-color: #263238;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.company {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
}

.footerright {
    display: flex;
    gap: 60px;
}

.footerlogo {
    display: flex;
    gap: 2px;
    color: white;
}

.footer div {
    color: white;
}

.footerleft {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    padding: 4px 8px;
    outline: none;
    background-color: rgb(65, 64, 64);
    border: 1px solid rgb(65, 64, 64);
    border-radius: 8px;
}

a {
    text-decoration: none;
    color: #4CAF4F;
}

@media screen and (max-width: 600px) {
    .unorderedlist {
        display: none;
    }

    .hero {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .heroleft h1 {
        font-size: 32px;
        width: 100%;
    }

    .heroleft {
        width: 100%;
    }

    .heroright {
        
    }

    .heroright img {
        width: 100%;
        margin-left: 70%;
    }
    .clients {
        margin: 0px 10px;
    }

    .smallicons {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-left: 26px;
    }

    .primarybtn {
        width: 100%;
    }

    .mngcards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

    }

    .services {
        display: flex;
        flex-direction: column-reverse;
    }

    .serleft {
        width: 100%;
        padding: 0;
        gap: 0;
        overflow: hidden;
    }

    .serright {
        width: 300px;
        overflow: hidden;
    }

    .serright img {
        width: 100%;
    }

    .help {
        display: flex;
        flex-direction: column;
    }

    .helpleft {
        width: 100%;
    }

    .helpright {
        width: 100%;
    }

    .customer {
        display: flex;
        flex-direction: column;
        padding: 0px;
        gap: 0;
    }

    .customersubchild {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .cusimg {
        width: 100%;
    }

    .cusdes {
        width: 100%;
        padding: 2px;
    }

    .marketbottom {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .markettop h2 {
        width: 100%;
        text-align: center;
    }

    .markettop p {
        width: 100%;
    }

    .footer {
        display: flex;
        flex-direction: column;
    }

    .footerright {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}

@media screen and (min-width:601px) and (max-width:768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
    }

    .hero h1 {
        font-size: 35px;
    }

    .heroright {
        margin-top: 20px;
    }

    .heroright img {
        width: 250px;
        height: 250px;
    }

    .services {
        gap: 0;
        margin: 0;
    }

    .serright {
        margin-top: 20px;
    }

    .customer {
        display: flex;
        flex-direction: column;
    }

    .cusimg {
        width: 100%;
    }

    .cusdes {
        width: 100%;
    }

    .marketbottom {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .footerright {
        gap: 20px;
    }
}